.board-cards .dropable {
	min-height: 40px;
	background-color: #6c6c6c;
	padding: 5px;
}

.board-cards {
	display: table;
}

.board-cards .droppable {
	display: table-cell;
	padding-right: 20px;
}

.board-cards .droppable .list {
	background-color: #c6c6c6;
	border: 1px solid #cccccc;
}
.board-cards h4 {
	padding: 8px;
	margin: 0;
	background-color: #c6c6c6;
}
